body {
  color: #f9f9f9;
  font-family: "Montserat",sans-serif;
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
  background-size: 130%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  
  color: white;
  text-align: center;
  font-size: xx-large;
  padding-top: 10px;
  padding-bottom: 10px;
  background-size: cover;

}

h2 {
  
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: aliceblue;
}

table {
  width: 100%;
  background-size: contain;
  border-radius: 10px;
  border-collapse: collapse;
  background-color: rgba(47, 100, 156, 0.5);
  border-radius: 10px;
  padding: 20%;

}
th {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

p {
  text-align: justify;
  color: aliceblue;
  text-size-adjust: 75%;
  background-color: rgba(47, 100, 156, 0.5);
  width: fit-content;
  font-size: larger;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
  padding: 30px;

}
img {
  width: 75%;
}
ol {
  color: aliceblue;
  background-color: rgba(47, 100, 156, 0.5);
  border-radius: 30px;
  text-align: center;
  font-size: x-large;
  }
h3 {
  color: aliceblue;
  padding-top: 25px;
}
iframe {
  display:block;
  margin: 0 auto;
  width: 475px;
  height: auto;
  border: none;
  border-radius: 10px;
  
}
.hidden-img {
  display: none;
}



li:hover .hidden-img {
  display: inline-block;
}

.hidden-video {
  display: none;
}

li:hover .hidden-video {
  display: inline-block;
  width: 800px;
  height: 450px;
}
#dropdown {
  display: none;
}
.show {
  display: table-row;
}


#top-threes {
  display: block;
  margin: 0 auto;
  font-size: larger;
  text-align: center;
  padding: 25px;
}
#ski-resorts {
  padding: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
  
  
}
#bands {
  padding: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
}
.hidden-preview{
  display: none;
}
li:hover .hidden-preview {
  display: block;

}
#movies{
  margin: 0 auto;
  text-align: center;
  padding: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: white;
  color: black;
  padding: 1px;
  border: none;
  cursor: pointer;
}
.dropdown-content{
  border: 1px solid black;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(00, 00, 00, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid black;
}
.dropdown:hover .dropdown-content {
  display:block;
}

.coming-soon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hover-play:hover + #audioPlayer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#golf-album {
  display: block;
  margin-left: 50%;
  display: grid; 
  grid-template-columns: repeat(3,1fr); 
  gap: 20px;
  padding: 20px;
  margin-left: 20px;
 
  
  
 
}



.photo {
  display: block;
  margin-left: 60px;
  width: 100%;
  height:100%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;


}



#contact-info{
  margin-left: 2%;
  border-radius: 10px;
}
#send-email {
  color:#f9f9f9;
  display: inline;
  
}
#send-email #message {
  height: 200px;
  width: 600px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 20px;
  text-align: justify;
}
  #email{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  #subject {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  #name{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
  }
  button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  textarea {
    border-radius: 10px;
  }
  


