body {
  font-style: linx Libertine, serif;
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
  background-size: 130%;
  background-repeat: repeat;
  background-attachment: fixed;
}
h1 {
  font-style: Linx Libertine, serif;
  color: white;
  text-align: center;
  font-size: xx-large;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto%2F%3Ffbid%3D1193381977388418%26set%3Da.1028466780546606&show_text=true&width=500");
  background-size: cover;
  

  
}

h2 {
  font-style: Linx Libertine, serif;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: aliceblue;
}

p {
  font-style: Linx Libertine, serif;
  size: 75%;
}

table {
  width: 100%;
  background-size: contain;border-radius: 10px;
  border-collapse: collapse;
  background-color: rgba(94, 93, 93, 0.5);
  border-radius: 10px;
  

}
th {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}
p {
  text-align: center;
  color: aliceblue;
  text-size-adjust: 75%;
  background-color: rgba(94, 93, 93, 0.5);
  width: fit-content;

}
img {
  width: 75%;
}
ol {
  color: aliceblue;
  width:fit-content;
  background-color: rgba(25, 87, 37, 0.5);
  border-radius: 10%;
  

}
h3 {
  color: aliceblue;
}
iframe {
  display:block;
  margin: 0 auto;
  padding-top: ;
  width: 40%;
  height: auto;
  border: none;
  border-radius: 10px;
  
}
.hidden-img {
  display: none;
}
.winter-park{
  width: 50%;
  height: auto;

}
li:hover .hidden-img {
  display: inline-block;
}

#bands {
  text-align: center;
}
.hidden-video {
  display: none;
}

li:hover .hidden-video {
  display: inline-block;
  width: 800px;
  height: 450px;
}

